@font-face {
  font-family: "HelveticaNeue";
  src: url(/src/assets/fonts/HelveticaNeue.ttc);
}
#label {
  cursor: pointer;
  width: 107px;
  height: 27px;
  background-color: #0E80BF;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: white;
  margin-left: 15px;
}

#upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "HelveticaNeue";
}
::-webkit-scrollbar{
  display: none;
}